<<<<<<< HEAD
#MapImage{
    width: 100vw;
    height: 100vh;
}

.main{
    position:relative;
}

.buton{
    position:absolute;
    top:0px;
   
}

#ibui1{
    position:absolute;
    max-width: 20px;
    height: auto;
    top:500px;
    left:400px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.inner{
    color:white;
}
#ibuibutton{
    cursor: pointer;
    cursor: hand;
}
.cancel{
    position:absolute;
    right:0px;
    border-radius: 20px;
}
.box{
    display:none;
    position :absolute;
    
    margin: auto;
    top:60px;
    left:30px;
    border: 2px solid #0094D6;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    height: 500px;
  }
  
  .box h3{
    background: #0094D6;
    color: #FFF;
    text-align: center;
    margin: 0;
  }

  
  .box .inner{
    padding: .5em;
=======
#MapImage{
    width: 100vw;
    height: 100vh;
}

.main{
    position:relative;
}

.buton{
    position:absolute;
    top:0px;
   
}

#ibui1{
    position:absolute;
    max-width: 20px;
    height: auto;
    top:500px;
    left:400px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.inner{
    color:white;
}
#ibuibutton{
    cursor: pointer;
    cursor: hand;
}
.cancel{
    position:absolute;
    right:0px;
    border-radius: 20px;
}
.box{
    display:none;
    position :absolute;
    
    margin: auto;
    top:60px;
    left:30px;
    border: 2px solid #0094D6;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    height: 500px;
  }
  
  .box h3{
    background: #0094D6;
    color: #FFF;
    text-align: center;
    margin: 0;
  }

  
  .box .inner{
    padding: .5em;
>>>>>>> 07883aab6982433a88a73c23453d879c1b2aff6e
  }